* {
    margin: 0px;
    padding: 0px;
    background-color: #0f0617;
    font-family: Arial, Helvetica, sans-serif;
}

#loginpage {
    width: 30%;
    margin: auto;
}

#loginpage h3 {
    color: white;
    text-align: center;
    margin-top: 50px;
}

#loginpage p {
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: small;
}

#icon {
    width: 53%;
    margin: auto;
}

.fa {
    padding: 3px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-android {
    background: #a4c639;
    color: white;
}

#mid {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.txt_field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.txt_field>input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    font-weight: bold;
    color: white;
}

label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 10px;
    pointer-events: none;
    transition: .5s;
}

.txt_field>span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: gray;
    transition: .5s;
}

.txt_field>input:focus~label,
.txt_field>input:valid~label {
    top: -5px;
    color: gray;
}

.txt_field>input:focus~span::before,
.txt_field>input:valid~span::before {
    width: 100%;
}

#forgot {
    text-align: center;
    margin-bottom: 25px;
}

#forgot a {
    color: #8230c6;
    text-decoration: none;
    font-size: small;
}

button {
    width: 100%;
    color: white;
    border: 1px solid white;
    padding: 10px;
    border-radius: 7px;
}

#end a {
    color: #8230c6;
    text-decoration: none;
}

#end p {
    font-size: small;
}